src/main/resources/weapon.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns:tns="http://tempuri.org/PurchaseOrderSchema.xsd"
            targetNamespace="http://tempuri.org/PurchaseOrderSchema.xsd"
            elementFormDefault="qualified">
    <xsd:complexType name="Weapon">
        <xsd:sequence>
            <xsd:element name="name" type="xsd:string"/>
            <xsd:element name="level" type="xsd:int"/>
            <xsd:element name="power" type="xsd:int"/>
            <xsd:element name="parry" type="xsd:int"/>
            <xsd:element name="price" type="xsd:int"/>
        </xsd:sequence>
    </xsd:complexType>
</xsd:schema>
